[submodule "Arduino-MAX30100"]
	path = Arduino-MAX30100
	url = https://github.com/oxullo/Arduino-MAX30100
[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
